@import "compass/css3";
section,header,article,nav {
  display: block;
}

*{
  padding: 0;
  margin: 0;
}
h1 {
  font-size:200%;
  font-family:sans-serif;
}
h2 {
  font-size: 150%;
  font-family: sans-serif;
}
p{
  font-family: sans-serif;
}
body {
   margin: 1em 10%;
   background-image: url(../images/background.gif);
   background-attachment: fixed;
   background-position: top left;
   background-repeat: repeat-x;
   max-width: 80em;

}

header {
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
}
header nav {
  background-image: url(../images/navbar.gif);
  background-position: bottom left;
  background-repeat: repeat-x;
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
  border-top-width: 0;
  padding-left: 10%;
}
header {
  nav {
    ul {
      width: 100%;
      overflow: hidden;
      border-left-width: .1em;
      border-left-style: solid;
    }
  }
}
header {
  nav {
    li {
      display: inline;
      font-family: sans-serif;
    }
  }
}
header {
  nav {
    li {
      a {
        display: block;
        float: left;
        padding: .5em 2em;
        border-right: .1em solid;
      }
    }
  }
}
article {
  border-width: .1em;
  border-style: solid;
  border-top-width: 0;
  padding: 2em 10%;
  line-height: 1.8em;
}
article{
  h2,p{
    padding:20px 0px 0px;
  }
}
article img {
  border-width: .1em;
  border-style: solid;
  outline-width: .1em;
  outline-style: solid;
}

header{
  img{
    height: 220px;
  }
}

article{
  #close1,#close2,#close3,#close4,#close5
  {
     color:#458B74;
  }
}

article{
  #pic1{
    display: block;
  }
  #pic2,#pic3,#pic4,#pic5,#button{
    display:none;
  }
}
article {
  #button i {
    width: 30px;
    color: white;
    height: 60px;
    line-height: 60px;
    background: #333;
    cursor: pointer;
    opacity: 0.2;
    font-family: simsun;
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

#photoBox  {
  width: 600px;
  height: 400px;
  border: 2px #eee solid;
  position:relative;
  //margin:20px auto;
  margin: auto;
  overflow: hidden;
}

.slidePic{
  position: absolute;
  opacity:0;
}

.slidePic:first-child
{
  display: block;
  opacity: 1;
}

#buttons i:hover
{
  opacity: 0.4;
}
#prev{
  position: absolute;
  z-index: 3;
  top: 150px;
  left: 30px;
  color: #fff;
}
#next{
  position: absolute;
  z-index: 3;
  top: 150px;
  right: 30px;
  color: #fff;
}

#photoBox:hover #button
{display: block;}


#navImg{
  position:relative;
  margin-left: -300px;
  left:50%;
  //float: left;
  //margin: 0px;
}
#navImg{
  img{
    height:76px;
  }
}