/* line 1, ../sass/color.scss */
body {
  color: #fb5;
  background-color: #334;
}

/* line 5, ../sass/color.scss */
a:link {
  color: #445;
  background-color: #eb6;
}

/* line 9, ../sass/color.scss */
a:visited {
  color: #345;
  background-color: #eb6;
}

/* line 13, ../sass/color.scss */
a:hover {
  color: #667;
  background-color: #fb5;
}

/* line 17, ../sass/color.scss */
a:active {
  color: #778;
  background-color: #ec8;
}

/* line 21, ../sass/color.scss */
header {
  color: #ec8;
  background-color: #334;
  border-color: #667;
}

/* line 26, ../sass/color.scss */
header nav {
  color: #455;
  background-color: #789;
  border-color: #667;
}

/* line 31, ../sass/color.scss */
article {
  color: #223;
  background-color: #edc;
  border-color: #667;
}

/* line 36, ../sass/color.scss */
header nav ul {
  border-color: #99a;
}

/* line 39, ../sass/color.scss */
header nav a:link, header nav a:visited {
  color: #eef;
  background-color: transparent;
  border-color: #99a;
}

/* line 44, ../sass/color.scss */
header nav a:hover {
  color: #445;
  background-color: #eb6;
}

/* line 48, ../sass/color.scss */
header nav a:active {
  color: #667;
  background-color: #ec8;
}

/* line 52, ../sass/color.scss */
article img {
  border-color: #ba9;
  outline-color: #dcb;
}

/* line 56, ../sass/color.scss */
#imagegallery a {
  background-color: transparent;
}

/* line 64, ../sass/color.scss */
header nav a.here:link,
header nav a.here:visited,
header nav a.here:hover,
header nav a.here:active {
  color: #eef;
  background-color: #799;
}

/* line 74, ../sass/color.scss */
th {
  color: #edc;
  background-color: #455;
}

/* line 78, ../sass/color.scss */
tr td {
  color: #223;
  background-color: #eb6;
}

/* line 82, ../sass/color.scss */
tr.odd td {
  color: #223;
  background-color: #ec8;
}

/* line 86, ../sass/color.scss */
tr.highlight td {
  color: #223;
  background-color: #cba;
}

/* line 95, ../sass/color.scss */
input.placeholder {
  color: grey;
}
