/* line 2, ../sass/layout.scss */
section, header, article, nav {
  display: block;
}

/* line 6, ../sass/layout.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 10, ../sass/layout.scss */
h1 {
  font-size: 200%;
  font-family: sans-serif;
}

/* line 14, ../sass/layout.scss */
h2 {
  font-size: 150%;
  font-family: sans-serif;
}

/* line 18, ../sass/layout.scss */
p {
  font-family: sans-serif;
}

/* line 21, ../sass/layout.scss */
body {
  margin: 1em 10%;
  background-image: url(../images/background.gif);
  background-attachment: fixed;
  background-position: top left;
  background-repeat: repeat-x;
  max-width: 80em;
}

/* line 31, ../sass/layout.scss */
header {
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
}

/* line 36, ../sass/layout.scss */
header nav {
  background-image: url(../images/navbar.gif);
  background-position: bottom left;
  background-repeat: repeat-x;
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
  border-top-width: 0;
  padding-left: 10%;
}

/* line 48, ../sass/layout.scss */
header nav ul {
  width: 100%;
  overflow: hidden;
  border-left-width: .1em;
  border-left-style: solid;
}

/* line 58, ../sass/layout.scss */
header nav li {
  display: inline;
  font-family: sans-serif;
}

/* line 67, ../sass/layout.scss */
header nav li a {
  display: block;
  float: left;
  padding: .5em 2em;
  border-right: .1em solid;
}

/* line 76, ../sass/layout.scss */
article {
  border-width: .1em;
  border-style: solid;
  border-top-width: 0;
  padding: 2em 10%;
  line-height: 1.8em;
}

/* line 84, ../sass/layout.scss */
article h2, article p {
  padding: 20px 0px 0px;
}

/* line 88, ../sass/layout.scss */
article img {
  border-width: .1em;
  border-style: solid;
  outline-width: .1em;
  outline-style: solid;
}

/* line 96, ../sass/layout.scss */
header img {
  height: 220px;
}

/* line 102, ../sass/layout.scss */
article #close1, article #close2, article #close3, article #close4, article #close5 {
  color: #458B74;
}

/* line 109, ../sass/layout.scss */
article #pic1 {
  display: block;
}
/* line 112, ../sass/layout.scss */
article #pic2, article #pic3, article #pic4, article #pic5, article #button {
  display: none;
}

/* line 117, ../sass/layout.scss */
article #button i {
  width: 30px;
  color: white;
  height: 60px;
  line-height: 60px;
  background: #333;
  cursor: pointer;
  opacity: 0.2;
  font-family: simsun;
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* line 137, ../sass/layout.scss */
#photoBox {
  width: 600px;
  height: 400px;
  border: 2px #eee solid;
  position: relative;
  margin: auto;
  overflow: hidden;
}

/* line 147, ../sass/layout.scss */
.slidePic {
  position: absolute;
  opacity: 0;
}

/* line 152, ../sass/layout.scss */
.slidePic:first-child {
  display: block;
  opacity: 1;
}

/* line 158, ../sass/layout.scss */
#buttons i:hover {
  opacity: 0.4;
}

/* line 162, ../sass/layout.scss */
#prev {
  position: absolute;
  z-index: 3;
  top: 150px;
  left: 30px;
  color: #fff;
}

/* line 169, ../sass/layout.scss */
#next {
  position: absolute;
  z-index: 3;
  top: 150px;
  right: 30px;
  color: #fff;
}

/* line 177, ../sass/layout.scss */
#photoBox:hover #button {
  display: block;
}

/* line 181, ../sass/layout.scss */
#navImg {
  position: relative;
  margin-left: -300px;
  left: 50%;
}

/* line 189, ../sass/layout.scss */
#navImg img {
  height: 76px;
}
